
body{
    
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    
}
ul{
    justify-content: space-around;
    display: flex;
    width: 30%;
}
ul li{
    align-self: center;
    list-style: none;
}
ul a{
    
    color: white;
    text-decoration: none;
}
.nav{
    
    justify-content: space-around;
    display: flex;
    min-height: 5%;
    background-color: #1f2937;

}
h1{
    color: white;
}
.top-container{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    min-height: 30%;
    
    padding-top: 5%;

}
.qoute{
    background-color: #e5e7eb;
    min-height: 25%;
}
.signupdiv{
    background-color: #3882f6;
    
}
.signup{
    justify-content: center;
    min-height: 10%;
}
.random-info-box{
    height: 60px;
    width: 60px;
   
    border: 4px #3882f6;
    
    min-height: 25%;
}
.info{
    min-height: 25%;
    display: flex;
    justify-content: space-around;
    
}
footer{
    background-color: #1f2937;
    min-height: 5%;
}
button{
    color: white;
    background-color: #3882f6;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    align-self: center ;
    background-color: #e5e7eb;
    min-height:50%;
}