
body{
    
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    
}
ul{
    justify-content: space-around;
    display: flex;
    width: 30%;
}
ul li{
    align-self: center;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}
ul a{
    
    color: white;
    text-decoration: none;
}
.nav{
    
    justify-content: space-around;
    display: flex;
    min-height: 5%;
    background-color: #1f2937;

}
h1{
    font-size: 24px;
    color: #f9faf8;

}
.top-container{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    min-height: 30%;
    
    padding-top: 5%;

}
.qoute{
    background-color: #e5e7eb;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qoute-text{
    font-size: 36px ;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}
.author{
    font-style: bolder;

}
.signupdiv{
    background-color: #3882f6;
    height: 7vh;
    width: 80%;
    border-radius: 1rem;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10%;

}

.random-info-box{
    height: 15vh;
    width: 10vw;
    
    
    border: 4px solid #3882f6;
    
    border-radius: 1rem;
}
.info{

    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    
}
footer{
    background-color: #1f2937;
    min-height: 5%;
}
button{
    color: white;
    background-color: #3882f6;
    width: 100px;
    height: 25px;
    border: 1px solid white;
    border-radius: 8px;
    font-style: bolder;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    align-self: center ;
    background-color: #e5e7eb;
    min-height:50%;
}
.info-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 25vh;
}
.info-header,.info-text{
    text-align: center;
}
.info-div{
    max-width: 10vw;
}
.info-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.top-text{
    font-size: 48px;
    
}
.top-subtext{
    font-size: 18px;
    color: #e5e7eb;
}